/*
* @Author: chenbin
* @Date:   2018-06-23 09:13:24
* @Last Modified by:   chenbin
* @Last Modified time: 2018-06-25 13:50:28
*/
.form-modify-row{
	margin-top: px;
}

.form-modify{
	width:350px;
	margin: 0 auto;
	margin-top: 30px;
}

h1{
	margin-top: 50px;
	text-align: center;
}

.form-control{
	margin-top: 1px;
}

.text-success,.text-warning{
	text-align: center;
}
