/*
* @Author: bn
* @Date:   2018-06-05 23:05:33
* @Last Modified by:   bn
* @Last Modified time: 2018-06-05 23:24:16
*/

.page-header {
    border-bottom: none;
}

a:hover{
	text-decoration: none;
	color:red;
}

a{
	color:black;
}
