/*
* @Author: bn
* @Date:   2018-06-05 23:05:33
* @Last Modified by:   chenbin
* @Last Modified time: 2018-06-25 09:36:12
*/

.page-header {
    border-bottom: none;
}

a{
	color:black;
}

a:hover{
	text-decoration: none;
}

a:focus{text-decoration: none}