/*
* @Author: chenbin
* @Date:   2018-06-11 11:58:45
* @Last Modified by:   bn
* @Last Modified time: 2018-07-05 22:56:37
*/
/*.table th:nth-of-type(0){
	width: 25%;
}
*/
.table th:nth-of-type(1){
	width: 25%;
}


.table th:nth-of-type(2){
	width: 10%;
}

.table th:nth-of-type(3){
	width: 10%;
}

.table th:nth-of-type(4){
	width: 15%;
}

.table th:nth-of-type(5){
	width: 8%;
}

.table th:nth-of-type(6){
	width: 8%;
}

.table th:nth-of-type(7){
	text-align: center;
}

.table td:nth-of-type(7){
	text-align: center;
}

.nav-page{
	text-align: center;
}

.form-group{
	margin-right: 10px;
}

