{% extends "front_sign_base.html" %}
{% load static %}

{% block titleblock %}
	登录-简书
{% endblock titleblock %}

{% block content_headblock %}
	<link href="{% static "css/front_signin.css" %}" rel="stylesheet">
	<script src="{% static "js/front_signin.js" %}"></script>
{% endblock content_headblock %}

{% block contentblock %}
	<div class="signin">
		<form action="">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
					<input type="text" class="form-control" placeholder="请输入手机号或邮箱" aria-describedby="basic-addon1">
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
					<input type="text" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon1">
				</div>
			</div>


				<div class="checkbox checkbox-custom">
				  <label>
				    <input type="checkbox" value="True">
				    记住我
				  </label>
				  <a href="">登录遇到问题？</a>
				</div>

			<div class="form-group">
				<button class="btn btn-primary btn-block">登录</button>
			</div>
		</form>
	</div>

{% endblock contentblock %}


