{% extends "front_article_base.html" %}
{% load static %}

{% block titleblock %}
	简书_文章页
{% endblock titleblock %}

{% block content_headblock %}
  <link href="{% static "css/front_article_detail.css" %}" rel="stylesheet">
  <script src="{% static "js/front_article_detail.js" %}"></script>
{% endblock content_headblock %}

{% block contentblock %}
	<div class="container-fluid main-box">
		<div class="row">
			<div class="article">
				<h1 class="">{{article.title}}</h1>

				<div class="author">
					<a href="" class="avatar">
						<img src="https://upload.jianshu.io/users/upload_avatars/9601504/f6a49bb0-ff98-4244-9031-6fe772df1180.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt="">
					</a>
					<div class="info">
						<span class="name">宝强</span>
						<a href="" class="btn btn-success btn-sm btn-attention"><span class="glyphicon glyphicon-plus"></span>&nbsp<span>关注</span></a>
						<div class="meta">
							<span>2018.07.05 22:11</span>&nbsp
							<span>字数 1795</span>&nbsp
							<span>阅读 1455</span>&nbsp
							<span>评论 16</span>&nbsp
							<span>喜欢 10</span>&nbsp
						</div>
					</div>
				</div>

				<div class="content">
					{{article.content_html|safe}}
				</div>
				<div class="article-menu">
					<div class="menu-item">
						<a href="">
							<span class="glyphicon glyphicon-chevron-left"></span>
							上一篇
						</a>
					</div>
					<div class="menu-item">
						<a href="">
							目录
						</a>
					</div>
					<div class="menu-item">
						<a href="">
							下一篇
						<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>

				<div class="follow-detail">
					<div class="info">
						<a href="" class="avatar"><img src="https://upload.jianshu.io/users/upload_avatars/3266286/fe2f5ca6cbf8.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96" alt=""></a>
						<a href="" class="title">弹球小姐Lydia</a>
						<p>写了 93892 字，被 1544 人关注，获得了 2308 个喜欢</p>
						<a href="" class="btn btn-success btn-custom">
							<span class="glyphicon glyphicon-plus"></span>关注
						</a>
					</div>
					<div class="signature">
						新书《跨越》全面上市，38篇有方法论的故事，教你突破上行通道
					</div>
				</div>

				<div class="meta-bottom">
					<div class="btn-support">
						<div class="like-group">
							<div class="btn-like">
								<div class="glyphicon glyphicon-heart-empty box-like"></div>
								<div class="test">喜欢</div>
							</div>
							<div class="modal-wrap">
								<span>10</span>
							</div>
						</div>
					</div>
				</div>

				<div class="comment-list">
					<div class="comment-write">
						<form action="" class="form-write">
							<a href="" class="avatar arvtar-l">
							<img src="https://cdn2.jianshu.io/assets/default_avatar/15-a7ac401939dd4df837e3bbf82abaa2a8.jpg" alt="">
							</a>
							<textarea name="" id="" cols="30" rows="10"></textarea>
							<div class="write-function-block">
								<a href="" class="btn btn-success btn-send">确定</a>
								<a href="" class="cancle">取消</a>
							</div>
						</form>
					</div>

					<div class="normal-comment-list">
						<div class="top-title">
							<div class="box-title">
								<span>47条评论</span>
								<div class="pull-right">
								<a href="" class="active">按时间倒序</a>
								<a href="">按时间正序</a>
								</div>
							</div>
						</div>

						<div class="comment">
							<div class="main-comment">
								<div class="comment-author">
									<a href="" class="image"><img src="https://upload.jianshu.io/users/upload_avatars/12823962/a084cbf8-848d-4f4e-978a-9af908cccf5e?imageMogr2/auto-orient/strip|imageView2/1/w/114/h/114" alt=""></a>
									<div class="comment-author-info">
										<a href="" class="name">
											是胖
										</a>
										<div class="author-meta">
											<span>9楼 · 2018.06.06 19:24</span>
										</div>
									</div>
									<div class="comment-wrap">
										<p>这里是评论</p>
										<p>这里是评论</p>
									</div>
								</div>
							</div>
							<div class="sub-comment-list">
								
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
{% endblock contentblock %}