{% extends "bootstrap.html" %}
{% load static %}

{% block titleblock %}
	
{% endblock titleblock %}

{% block headblock %}
	<script src="{% static "js/bnajax.js" %}"></script>
	<script src="{% static "js/bntemplate.js" %}"></script>
	<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
	<link href="{% static "css/simditor.css" %}" rel="stylesheet">
	<script src="{% static "js/template-web.js" %}"></script>
	<script src="{% static "js/module.js" %}"></script>
	<script src="{% static "js/hotkeys.js" %}"></script>
	<script src="{% static "js/simditor.js" %}"></script>
	<link href="{% static "css/front_sign_base.css" %}" rel="stylesheet">
{% block content_headblock %}
{% endblock content_headblock %}
{% endblock headblock %}

{% block bodyblock %}
	<div class="logo">
		<a href=""><img src="{% static "image/jianlogou.png" %}" alt=""></a>
	</div>

	<div class="main">
		<h4 class="title">
			<div class="normal-title">
				<a href="">登录</a>
				<b>·</b>
				<a href="">注册</a>
			</div>
		</h4>
		{% block contentblock %}
		{% endblock contentblock %}
	</div>
{% endblock bodyblock %}