{% extends "front_article_base.html" %}
{% load static %}

{% block titleblock %}
	简书_首页
{% endblock titleblock %}

{% block content_headblock %}
  {% include "front_artemplate.html" %}
  <link href="{% static "css/front_article_index.css" %}" rel="stylesheet">
  <script src="{% static "js/front_article_index.js" %}"></script>
{% endblock content_headblock %}

{% block contentblock %}
<div class="container-fluid main-box">
  <div class="row">
          <div class="col-md-5 banner">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="https://upload.jianshu.io/admin_banners/web_images/4335/097143830537fc0edd561ea214927988ef2383af.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>

                    <div class="item">
                      <img src="https://upload.jianshu.io/admin_banners/web_images/4329/6e117a87e1726637c5afbdea5cf920f2a0334991.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>

                    <div class="item">
                      <img src="https://upload.jianshu.io/admin_banners/web_images/4330/15f8de42104cf3872f609880e37fbd42c6a2a6fa.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540" alt="...">
                      <div class="carousel-caption">
                        ...
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>

                  <div class="recommend-collection">
                    {% for category in categorys %}
                       <a class="collection" href="https://www.jianshu.com/c/fcd7a62be697?utm_medium=index-collections&utm_source=desktop">
                        <img src="https://upload.jianshu.io/collections/images/95/1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
                        <div class="name">{{category.name}}</div>
                      </a>
                    {% endfor %}
                    <a class="collection" href="https://www.jianshu.com/c/fcd7a62be697?utm_medium=index-collections&utm_source=desktop">
                      <img src="https://upload.jianshu.io/collections/images/95/1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/64/h/64">
                      <div class="name">查看更多</div>
                    </a>
                  </div>

                  <div id="list-container">
                    <ul class="note-list">
                      <li class="have-img">
                        <a class="wrap-img" href="/p/8cdef17ce106" target="_blank"><img src="https://upload-images.jianshu.io/upload_images/7158310-ea3e2d12241eeeb1.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240"></a>
                        <div class="content">
                          <a href="https://www.jianshu.com/p/828e9f04f77c" class="title">七绝/醉美人</a>
                          <p>卷卷青丝挽鬓夹 薄唇闭锁点朱砂 垂眉锁目幽思远 浅笑轻瞥染曙霞 （仄起首入，新韵一麻）</p>
                          <div class="meta">
                            <a class="nickname" target="_blank" href="/u/c1b86d84bdf4">梦浮荏</a>&nbsp&nbsp
                            <a target="_blank" href="/p/8cdef17ce106#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp10</a>&nbsp&nbsp
                            <span class="glyphicon glyphicon-heart"></span>&nbsp45
                          </div>
                        </div>
                      </li>

                      <li class="have-img">
                        <div class="content">
                          <a href="https://www.jianshu.com/p/828e9f04f77c" class="title">七绝/醉美人</a>
                          <p>卷卷青丝挽鬓夹 薄唇闭锁点朱砂 垂眉锁目幽思远 浅笑轻瞥染曙霞 （仄起首入，新韵一麻）</p>
                          <div class="meta">
                            <a class="nickname" target="_blank" href="/u/c1b86d84bdf4">梦浮荏</a>&nbsp&nbsp
                            <a target="_blank" href="/p/8cdef17ce106#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp10</a>&nbsp&nbsp
                            <span class="glyphicon glyphicon-heart"></span>&nbsp45
                          </div>
                        </div>
                      </li>

                    <!-- 置顶文章 -->
                    {% for top_article in top_articles %}
                      <li class="have-img">
                        <div class="content">
                          <a href="https://www.jianshu.com/p/828e9f04f77c" class="title">{{top_article.title}}<span style="color:red;">[推荐]</span></a>
                          <p>{{top_article.content_html|truncatechars_html:70|striptags}}</p>
                          <div class="meta">
                            <a class="nickname" target="_blank" href="/u/c1b86d84bdf4">{{top_article.author.username}}</a>&nbsp&nbsp
                            <a target="_blank" href="/p/8cdef17ce106#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp{{top_article.comment_count}}</a>&nbsp&nbsp
                            <span class="glyphicon glyphicon-heart"></span>&nbsp{{top_article.support_count}}
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    
                    <!-- 非置顶文章 -->
                    {% for untop_article in untop_articles %}
                      <li class="have-img">
                        <div class="content">
                          <a href="https://www.jianshu.com/p/828e9f04f77c" class="title">{{untop_article.title}}</a>
                          <p>{{untop_article.content_html|truncatechars_html:70|striptags}}</p>
                          <div class="meta">
                            <a class="nickname" target="_blank" href="/u/c1b86d84bdf4">{{untop_article.author.username}}</a>&nbsp&nbsp
                            <a target="_blank" href="/p/8cdef17ce106#comments"><span class="glyphicon glyphicon-comment"></span>&nbsp{{untop_article.comment_count}}</a>&nbsp&nbsp
                            <span class="glyphicon glyphicon-heart"></span>&nbsp{{untop_article.support_count}}
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>
                    <button type="button" data-loading-text="加载中..." class="btn btn-primary" id="read-more" current-page="2" autocomplete="off">阅读更多</button>
                  </div>
                  <p>&nbsp</p>
                  <p>&nbsp</p>
                  <p>&nbsp</p>
                  <p>&nbsp</p>
                  <p>&nbsp</p>
                  <p>&nbsp</p>
                  
            </div><!-- col-md-5 -->

            <div class="col-md-2 banner-right">

              <p style="margin-top:100px;color:red;text-align: center;">此处有待开发</p>

            </div><!-- col-md-2 -->
        
    </div><!-- col -->

  </div><!-- row -->

</div><!-- container -->
{% endblock contentblock %}




