{% extends "cms_base.html" %}
{% load static %}

{% block titleblock %}
	文章修改页面
{% endblock titleblock %}

{% block content_headblock %}
	{% include "artemplate.html" %}
	<script src="{% static "js/cms_article_modify.js" %}"></script>
	<link href="{% static "css/cms_article_modify.css" %}" rel="stylesheet">
{% endblock content_headblock %}

{% block contentblock %}
	<div class="container">
		<h1>文章修改</h1>
		<div class="row modify-article-row">
			<form action="" class="modify-article-form">
				<div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">标题</span>
					  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{article.title}}" name="title">
					  <sapn class="input-group-addon btn btn-danger article-submit">提交</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">作者</span>
					  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="{{article.author.username}}" readonly="">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">分类</span>
					    <select class="form-control category-select">
						   {% for category in categorys %}
						   		{% if article.category.name == category.name %}
						   			<option value ="{{category.id}}" selected>{{category.name}}</option>
						   			{% else %}
						   			<option value ="{{category.id}}">{{category.name}}</option>
						   		{% endif %}
						   {% endfor %}
						</select>
					  <sapn class="input-group-addon btn btn-primary add-category-btn">添加</span>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
					  <span class="input-group-addon">标签</span>
					 	 <div class="form-control tag-div">
					 	 	{% for tag in tags %}
					 	 	{% if tag.id in article_tags %}
					 	 		<label>
								    <input type="checkbox" value="{{tag.id}}" checked>{{tag.name}}
								</label>
								{% else %}
								<label>
								    <input type="checkbox" value="{{tag.id}}">{{tag.name}}
								</label>
					 	 	{% endif %}
					 	 	{% endfor %}
						 </div>
					  <sapn class="input-group-addon btn btn-primary add-tag-btn">添加</span>
					</div>
				</div>

				<div class="form-group">
						<textarea id="editor" class="form-control" placeholder="文章内容..." autofocus>{{article.content_html}}</textarea>
				</div>

			</form>
		</div>
	</div>
{% endblock contentblock %}

{% block modalblock %}
<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">添加分类</h4>
			</div>

			<div class="modal-body">

			<input type="text" placeholder="请输入分类名称" class="form-control category-input">
			</div>

			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary category-submit">保存</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add-tag-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">添加标签</h4>
			</div>

			<div class="modal-body">

			<input type="text" placeholder="请输入标签名称" class="form-control tag-input">
			</div>

			<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary tag-submit">保存</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modify-article-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">添加标签</h4>
			</div>

			<div class="modal-body">

			<p>恭喜您，文章修改成功啦！</p>
			</div>

			<div class="modal-footer">
			<button type="button" class="btn btn-default return-heigh">返回上级</button>
			<button type="button" class="btn btn-primary edit-again-btn">再次编辑</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock modalblock %}