{% extends "cms_article_manage_base.html" %}
{% load static %}

{% block article_headblock %}
	{% verbatim %}
		<script id="page" type="text/html">
			 <nav aria-label="..." class="nav-page">
			      <ul class="pagination">
			        {{if c_page > 1}}
			        	<li><a href="#" aria-label="Previous" page="{{c_page-1}}" class="page-a"><span aria-hidden="true">&laquo;</span></a></li>
			        	{{else}}
			        	<li class="disabled"><span aria-hidden="true">&laquo;</span></li>
			        {{/if}}

						{{each pages as value i}}
							{{if value == c_page}}
								<li class="active"><span>{{value}}</span></li>
								{{else}}
								<li><a href="#" page="{{value}}" class="page-a">{{value}}</a></li>
							{{/if}}
						{{/each}}

			        {{if c_page < all_pages}}
			        	 <li><a href="#" aria-label="Next" class="page-a" page="{{c_page+1}}"><span aria-hidden="true" >&raquo;</span></a></li>
			        	{{else}}
			        	  <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
			        {{/if}}
			     </ul>
			 </nav>
		</script>
	{% endverbatim %}

	{% verbatim %}
		<script id="article" type="text/html">
			{{each articles article i}}
				<tr>
				  <td>{{article.title}}</th>
				  <td>{{article.author__username}}</td>
				  <td>{{article.category__name}}</td>
				  <td>{{article.release_time | dateFormat:'yyyy-MM-dd hh:mm'}}</td>
				  <td>{{article.read_count}}</td>
				  <td>0</td>
				  <td class="modify-td">
					<a href="">修改</a><span>&nbsp&nbsp|&nbsp&nbsp</span>
					<a href="" class="">删除</a><span>&nbsp&nbsp|&nbsp&nbsp</span>
					<a href="">置顶</a>
				  </td>
				</tr>
			{{/each}}
		</script>
	{% endverbatim %}
	<script src="{% static "js/cms_article_manage.js" %}"></script>
	<link href="{% static "css/cms_article_manage.css" %}" rel="stylesheet">
{% endblock article_headblock %}

{% block manageblock %}
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" method="POST">
				<div class="form-group">
					 <div class="input-group">
					 <span class="input-group-addon">标题</span>
  					 <input name="title" type="text" class="form-control" placeholder="按标题查询" aria-describedby="basic-addon1">
  					 </div>
				</div>
				<div class="form-group">
					 <div class="input-group">
					 <span class="input-group-addon">作者</span>
  					 <input name="author" type="text" class="form-control" placeholder="按作者查询" aria-describedby="basic-addon1">
  					 </div>
				</div>
				<div class="form-group">
					 <div class="input-group">
					 <span class="input-group-addon">分类</span>
  					 <input name="category" type="text" class="form-control" placeholder="按分类查询" aria-describedby="basic-addon1">
  					 </div>
				</div>
				<button type="submit" class="btn btn-default query-btn">查询</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover">
			      <thead>
			        <tr>
			          <th>标题</th>
			          <th>作者</th>
			          <th>分类</th>
			          <th>发表时间</th>
			          <th>阅读</th>
			          <th>评论</th>
			          <th>操作</th>
			        </tr>
			      </thead>
			      <tbody class="article-tbody">
			      </tbody>
			    </table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 page-col">
			<p>分页使用ajax异步加载</p>
		</div>
	</div>
{% endblock manageblock %}


