/*
* @Author: chenbin
* @Date:   2018-07-06 16:59:08
* @Last Modified by:   chenbin
* @Last Modified time: 2018-07-09 16:38:02
*/
.banner{
	margin-left:310px;
    padding-left: 0px;
    padding-right: 0px;
	/*height: 270px;*/
    /*background: red;*/
}

.main-box{
	margin-top: 80px;
}

.banner-right{
	height: 275px;
	background: skyblue;
	margin-left: 40px;

}

.recommend-collection{
	/*height: 100px;*/
	/*background: green;*/
	margin-top: 30px;
	margin-bottom: 20px;
	/*background: yellow;*/
}

.recommend-collection .collection
{
	display:inline-block;
	margin:0 18px 18px 0;
	min-height:32px;
	background-color:#f7f7f7;
	border:1px solid #dcdcdc;
	border-radius:4px;
	vertical-align:top;
	overflow:hidden;
}

.collection img
{
	width:32px;
	height:32px
}
.collection .name
{
	display:inline-block;
	padding:0 11px 0 6px;
	font-size:14px;
	/*background: blue;*/
}

.note-list{
	padding-left: 0px;
	margin: 0px;
	list-style: none;

}

.note-list li.have-img{
	min-height: 140px;
	/*background: yellow;*/
}

.note-list li{
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
    border-top:1px solid #eee
}

.note-list li.have-img a.wrap-img{
	margin-right: 0px;
	float:right;
	margin-left: 20px;
}

.note-list li.have-img a.wrap-img img{
	width: 150px;
	height: 120px;
	border-radius: 5px;
}

.content a.title{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.content p{
	/*color:#c8c8c8;*/
	color:#969696;
	line-height: 25px;
}

.content .meta{
	color:#969696;
}

.content .meta a{
	color:#969696;
}

#read-more{
	width: 100%;
}