
a:hover{
	text-decoration: none;
}

.logo{
	/*background: yellow;*/
	position: absolute;
	top: 56px;
	margin-left: 50px;

}

.logo img{
	width: 100px;
}

body{
	padding-top: 0px;
	color: #333;
	background: #322e2e2b;
}

.main{
	width: 400px;
	height: 499px;
	margin: 100px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    vertical-align: middle;

}

.normal-title{
	text-align: center;
}

.normal-title a{
	padding: 10px;
    color: #969696;
}

.normal-title b{
	padding: 10px;
}

.title{
	font-size: 18px;
	font-weight: 400;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 50px;
}